
<a id="refresh_listings" href="/listings/refresh">Refresh Listings</a>
<h1>Emogi - Code Test</h1>

<hr />

<h2>Listings</h2>

{% if listings %}

<table id="listings" cellspacing="0">

<thead>

    <tr>

        <th>Title</th>
        <th>Domain</th>
        <th>Subreddit</th>
        <th>Reddit Score</th>
        <th># of Comments</th>
        <th>Custom Top</th>
        <th>Custom Hot</th>
        <th>Reddit</th>
        <th>Link</th>

    </tr>

</thead>

<tbody>

    {% for listing in listings %}

    <tr>

        <td width="40%">{{ listing.data.title }}</td>
        <td>{{ listing.data.domain }}</td>
        <td>{{ listing.data.subreddit }}</td>
        <td>{{ listing.data.score }}</td>
        <td>{{ listing.data.num_comments }}</td>
        <td>{{ listing.custom_top }}</td>
        <td>{{ listing.custom_hot }}</td>
        <td><a href="https://www.reddit.com{{ listing.data.permalink }}" target="_blank">Reddit</a></td>
        <td><a href="{{ listing.data.url }}" target="_blank">Image</a></td>

    </tr>

    {% endfor %}

</tbody>

</table>

{% endif %}

<h2>Trending Subreddits</h2>

{% if trending_subreddits %}

<table id="trending" cellspacing="0">

<thead>

    <tr>

        <th>Subreddit</th>
        <th>Count</th>
        <th>Sum Top</th>
        <th>Sum Hot</th>

    </tr>

</thead>

<tbody>

    {% for subreddit, data in trending_subreddits.items() %}

    <tr>

        <td width="40%">{{ subreddit }}</td>
        <td>{{ data.listing_count }}</td>
        <td>{{ data.sum_top }}</td>
        <td>{{ data.sum_hot }}</td>

    </tr>

    {% endfor %}

</tbody>

</table>

{% endif %}

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
<script type="text/javascript" src="//code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    $('#listings').DataTable({
        'pageLength' : 50
    });
    $('#trending').DataTable({
        'pageLength' : 50
    });
});
</script>

<style type="text/css">

    body,html {
        font-family: Helvetica, Arial, "Lucida Grande", sans-serif
    }

    #refresh_listings {
        float: right;
    }

    #listings th {
        text-align: left;
        padding: 5px;
    }

    #listings td {
        padding: 5px;
    }

</style>